.PokeCard-container{
    background-color: #d3d3d3;
    width: 150px;
    max-height: 275px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
}

.PokeCard-name{
    color: #0023f5;
}

.PokeCard-image{
    object-fit: contain;
    height: 100px;

}